[run]
omit =
    */migrations/*,
    */settings/*,
    *migrations*,
    *tests*,
    *test_*,
    *apps.py*,
    *admin.py*,
    *settings*,
    *manage.py*,
    *asgi.py*,
    *wsgi*,
    *urls*,
    *swagger_schemas*,
    *__init__.py*,

source = src/
data_file = .coverage

[report]
fail_under = 75
show_missing = False
skip_covered = False
sort = Cover
